# Webstorm config
.idea/

# Bower components
bower_components/

# Node Packages
node_modules/

# Temporal Altair's modules
*.min.js
*.min.css
app/components/
app/modules/
app/shared/
app/templates/
app/views/
assets/
data/
file_manager/

# OS Globals
thumbs.db
.DS_Store