# Webstorm Config
.idea/

# Analytics
public/assets/
uploads/*.jpg
uploads/*.png
*.jpeg
*.png

# dotEnv file
*.env

# Logs
logs
*.log

# Dependency directories
node_modules
jspm_packages
bower_components

# Optional npm cache directory
.npm

# OS Globals
thumbs.db
.DS_Store