<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
{{> landing/head}}
<!-- END HEAD -->
<body class="login_page">

<div class="login_page_wrapper">
    {{{body}}}
</div>

{{> landing/scripts}}

</body>
</html>