<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

{{> main/head}}

<body class=" sidebar_main_open sidebar_main_swipe header_full">

{{> main/header}}

{{> main/sidebar}}

{{{body}}}

{{> main/scripts}}
</body>

</html>