<div class="page-sidebar-wrapper">
    <!-- END SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start active open ">

                <a href="/" class="nav-link nav-toggle">
                    <i class="icon-magnifier"></i>
                    <span class="title">Buscar</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
            </li>
            <li class="nav-item">
            <!--<li class="nav-item  Request::is('users') ? ' active open ' : ''  ">-->
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">Afiliado</span>
                    <!--<span  Request::is('users') ? ' class=selected ' : '' ></span>-->
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <!-- <a href="/affiliates/new" class="nav-link ">-->
                        <a href="/addAffiliates" class="nav-link ">
                             <i class="icon-user-follow"></i>
                             <span class="title">Crear Afiliado</span>
                         </a>
                     </li>
                     <li class="nav-item  ">
                         <a href="/affiliates" class="nav-link ">
                             <i class="icon-user-following"></i>
                             <span class="title">Buscar Afiliado</span>
                         </a>
                     </li>
                 </ul>
             </li>
             <li class="nav-item">
             <!--<li class="nav-item  Request::is('general') ? ' active open ' : ''  ">-->
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-users"></i>
                    <span class="title">Referido</span>
                    <!--<span  Request::is('general') ? ' class=selected ' : '' ></span>-->
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <!--<a href="/referred/new" class="nav-link ">-->
                            <a href="/newreferred" class="nav-link ">
                            <i class="icon-user-follow"></i>
                            <span class="title">Crear Referido</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/referred" class="nav-link ">
                            <i class="icon-user-following"></i>
                            <span class="title">Buscar Referido</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--<li class="nav-item  Request::is('system') ? ' active open ' : '' ">-->
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-layers"></i>
                    <span class="title">Reportes</span>
                    <!--<span  Request::is('system') ? ' class=selected ' : '' ></span>-->
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="/" class="nav-link ">
                            <span class="title">Reporte 1</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/" class="nav-link ">
                            <span class="title">Reporte 2</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/" class="nav-link ">
                            <span class="title">Reporte 3</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/" class="nav-link ">
                            <span class="title">Reporte 4</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/" class="nav-link ">
                            <span class="title">Reporte 5</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-wrench"></i>
                    <span class="title">Configuración</span>
                    <!--<span  Request::is('system') ? ' class=selected ' : '' ></span>-->
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="/roles" class="nav-link ">
                            <i class="icon-puzzle"></i>
                            <span class="title">Roles</span>
                        </a>
                        <ul class="sub-menu">

                            </li>

                            <li class="nav-item ">
                                <a href="/parametros/roles" class="nav-link "> Roles </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item  ">
                        <a href="/config/users" class="nav-link ">
                            <i class="icon-eyeglasses"></i>
                            <span class="title">Usuarios</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="javascript:;" class="nav-link ">
                            <i class="icon-calculator"></i>
                            <span class="title">Parametros</span>
                        </a>
                        <ul class="sub-menu">
                            <!-- <li class="nav-item ">
                                 <a href="/parametros/afiliados" class="nav-link "> Afiliados</a>
                             </li>
                             <li class="nav-item ">
                                 <a href="/parametros/autorizaciones" class="nav-link "> Autorizaciones </a>
                             </li>

                             <li class="nav-item ">
                                 <a href="/parametros/personas" class="nav-link "> Personas </a>
                             </li>-->

                            <li class="nav-item ">
                                <a href="/parametros/abreviaturas" class="nav-link "> Abreviaturas </a>
                            </li>
                            <li class="nav-item ">
                                <a href="/parametros/departamentos" class="nav-link "> Departamentos </a>
                            </li>
                            <li class="nav-item ">
                                <a href="/parametros/documentos" class="nav-link "> Documentos </a>
                            </li>
                            <li class="nav-item ">
                                <a href="/parametros/etnias" class="nav-link "> Etnias </a>
                            </li>
                            <li class="nav-item ">
                                <a href="/parametros/municipios" class="nav-link "> Municipios </a>
                            </li>
                            <li class="nav-item ">
                                <a href="/parametros/paises" class="nav-link "> Paises </a>
                            </li>
                            <li class="nav-item ">
                                <a href="/parametros/zonas" class="nav-link "> Zonas </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item  ">
                        <a href="/config/load" class="nav-link ">
                            <i class="icon-cloud-upload"></i>
                            <span class="title">Cargar Archivo Plano</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">Sistema</span>
                    <!--<span  Request::is('system') ? ' class=selected ' : '' ></span>-->
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="/about" class="nav-link ">
                            <i class="icon-question"></i>
                            <span class="title">Acerca de Identico</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/logout" class="nav-link ">
                            <i class="icon-power"></i>
                            <span class="title">Cerrar Sesión</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>