    <div id="page_content">
        <div id="page_content_inner">

            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content">
                    <div class="uk-overflow-container">
                        <table class="uk-table uk-table-nowrap">
                            <thead>
                            <tr>
                                <th class="uk-width-2-10">Nombre</th>
                                <th class="uk-width-2-10 uk-text-center">Abreviatura</th>
                                <th class="uk-width-1-10 uk-text-center">Status</th>
                                <th class="uk-width-2-10 uk-text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Valerie Barton</td>
                                <td class="uk-text-center">55/2015</td>
                                <td class="uk-text-center"><span class="uk-badge uk-badge-success">Shipped</span></td>
                                <td class="uk-text-center">
                                    <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                                    <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<ul class="uk-pagination uk-margin-medium-top">-->
                        <!--<li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>-->
                        <!--<li class="uk-active"><span>1</span></li>-->
                        <!--<li><a href="#">2</a></li>-->
                        <!--<li><a href="#">3</a></li>-->
                        <!--<li><a href="#">4</a></li>-->
                        <!--<li><span>&hellip;</span></li>-->
                        <!--<li><a href="#">10</a></li>-->
                        <!--<li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>-->
                    <!--</ul>-->
                </div>
            </div>

        </div>
    </div>